<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IAdminService" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_ISponsorService" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_ICoordinatorService" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IInfoService" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/UserService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AdminService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
                contract="AdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SponsorService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISponsorService"
                contract="SponsorService.ISponsorService" name="BasicHttpBinding_ISponsorService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CoordinatorService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoordinatorService"
                contract="CoordinatorService.ICoordinatorService" name="BasicHttpBinding_ICoordinatorService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InfoService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInfoService"
                contract="InfoService.IInfoService" name="BasicHttpBinding_IInfoService" />
        </client>
    </system.serviceModel>
</configuration>